{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "Firefox ESR"
          ],
          "node": "8"
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "@babel/plugin-proposal-class-properties"
  ]
}
